<style type="text/css">
    .sm-st {
        background: #fff;
        padding: 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 20px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
    }

    .sm-st-icon {
        width: 60px;
        height: 60px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        font-size: 30px;
        background: #eee;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        float: left;
        margin-right: 10px;
        color: #fff;
    }

    .sm-st-info {
        font-size: 12px;
        padding-top: 2px;
    }

    .sm-st-info span {
        display: block;
        font-size: 24px;
        font-weight: 600;
    }

    .orange {
        background: #fa8564 !important;
    }

    .tar {
        background: #45cf95 !important;
    }

    .sm-st .green {
        background: #86ba41 !important;
    }

    .customer .customer-info {
        padding: 10px;
        width: 60px;
        /* height: 60px; */
        display: inline-block;
        text-align: center;
        font-size: 18px;
        background: #b3c253;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        float: left;
        margin-right: 10px;
        color: #fff;
        cursor: pointer;
        line-height: 20px;
    }

    .pink {
        background: #AC75F0 !important;
    }

    .yellow-b {
        background: #fdd752 !important;
    }

    .stat-elem {

        background-color: #fff;
        padding: 18px;
        border-radius: 40px;

    }
    
    .st-red {
        background-color: #F05050;
    }

    .st-green {
        background-color: #27C24C;
    }

    .st-violet {
        background-color: #7266ba;
    }

    .st-blue {
        background-color: #23b7e5;
    }
    
    .panel .panel-heading .nav-tabs .title {
        float: right;
        margin-right: 40px;
        color: red;
        font-size: 20px;
        font-weight: 500;
    }

    .panel-body .service .item {
        margin-bottom: 20px;
    }

    .panel-body .service .item .service-content {
        background: #ffffff;
        border-radius: 15px 15px 0 0;
        border: 1px solid #AAB9FE;
    }

    .panel-body .service .item .service-content .top {
        width: 100%;
        background: #1C83C6;
        border-radius: 10px 10px 0 0;
        color: #fff;
        font-size: 20px;
        padding: 10px 20px;
    }

    .panel-body .service .item .service-content .top .open, .panel-body .service .item .service-content .top .alread-open {
        float: right;
        cursor: pointer;
        padding: 0 5px;
        border-radius: 5px;
        border: 1px solid #ffffff;
    }

    .panel-body .service .item .service-content .top .open {
        
    }

    .panel-body .service .item .service-content .top .alread-open {
    }

    .panel-body .service .item .service-content .bottom {
        padding: 10px 20px;
    }

    .panel-body .service .item .service-content .bottom ul {
        margin: 0px;
        padding: 0px;
        font-size: 16px;
    }

    .panel-body .service .item .service-content .bottom ul li {
        list-style: none;
        width: 100%;
        padding: 5px 0;
        border-bottom: 1px solid #99C8E4;
    }

    .panel-body .service .item .service-content .bottom ul li div {
        display: inline-block;
    }

    .panel-body .service .item .service-content .bottom ul li div:nth-child(2) {
        float: right;
    }

    .panel-body .service .item .service-content .bottom ul li.discount {
        color: #AAB9FE;
    }

    .panel-body .service .item .service-content .bottom ul li.price {
        color: #E6667F;
    }

</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">{:__('Dashboard')}</a></li>
            <li class="title">全方位打造以效果为核心的营销平台--桔子网络</li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-violet"><i class="fa fa-book"></i></span>
                            <div class="sm-st-info">
                                <span>{$totalviews}</span>
                                网站数量
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-green"><i class="fa fa-cny"></i></span>
                            <div class="sm-st-info">
                                <span>{$totalorderamount}</span>
                                余额
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-green"><i class="fa fa-eye"></i></span>
                            <div class="sm-st-info">
                                <span>{$siteclicknumber}</span>
                                网站访问量
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="sm-st clearfix customer">
                            <span class="sm-st-icon st-green customer-info">售后客服</span>
                        </div>
                    </div>
                </div>

                <div class="row service">
                    {foreach name="serviceList" item="serviceItem"}
                        <div class="col-sm-3 col-xs-6 item">
                            <div class="clearfix service-content">
                                <div class="top">
                                    <span class="title">{$serviceItem.name}</span>
                                    {if $serviceItem.wait_order_count <= 0}
                                        <span class="open" data-id="{$serviceItem.id}">开通</span>
                                    {else}
                                        <span class="alread-open">已开通</span>
                                    {/if}
                                </div>
                                <div class="bottom">
                                    <ul>
                                        <li>
                                            <div>单品单价</div>
                                            <div>￥{$serviceItem.price}</div>
                                        </li>
                                        <li class="discount">
                                            <div>活动折扣</div>
                                            <div>{$serviceItem.discount / 10}折</div>
                                        </li>
                                        <li class="price">
                                            <div>实际单价</div>
                                            <div>￥{:sprintf("%.2f", $serviceItem.price * ($serviceItem.discount / 100))}</div>
                                        </li>
                                        <li>
                                            <div>服务时间</div>
                                            <div>{$serviceItem.service_time}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {/foreach}
                </div>
            </div>
            <div class="tab-pane fade" id="two">
                <div class="row">
                    <div class="col-xs-12">
                        {:__('Custom zone')}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var createOrderUrl = "{:url('create_order')}";
</script>
